In [1]:
import numpy as np, pandas as pd, seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

C:\Users\Yesuraju\AppData\Local\Programs\Python\Python310\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.17.3 and <1.25.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
df = pd.read_csv(r"C:\Users\Yesuraju\Desktop\MachineLearningWorkSpace\notebook\data\stud.csv")

In [3]:
# printing first five rows
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [4]:
# shape of the data set
df.shape

(1000, 8)

In [5]:
df.describe()

       math_score  reading_score  writing_score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [6]:
# hpw check null values
df.isnull().sum()

gender                         0
race_ethnicity                 0
parental_level_of_education    0
lunch                          0
test_preparation_course        0
math_score                     0
reading_score                  0
writing_score                  0
dtype: int64

In [7]:
#to know number of unique values
df.nunique()

gender                          2
race_ethnicity                  5
parental_level_of_education     6
lunch                           2
test_preparation_course         2
math_score                     81
reading_score                  72
writing_score                  77
dtype: int64

In [8]:
# to check any duplicate rows it will return true or false
has_duplicates = df.duplicated().any()
print("Any duplicates?:", has_duplicates)

Any duplicates?: False

In [9]:
df.columns

Index(['gender', 'race_ethnicity', 'parental_level_of_education', 'lunch',
       'test_preparation_course', 'math_score', 'reading_score',
       'writing_score'],
      dtype='object')

In [10]:
print("printing categories in the gender: ",df["gender"].unique())
print("printing categories in the race_ethnicity: ",df["race_ethnicity"].unique())
print("printing categories in the parental_level_of_education: ",df["parental_level_of_education"].unique())
print("printing categories in the lunch: ",df["lunch"].unique())
print("printing categories in the test_preparation_course: ",df["test_preparation_course"].unique())
print("printing categories in the math_score: ",df["math_score"].unique())
print("printing categories in the reading_score: ",df["reading_score"].unique())
print("printing categories in the writing_score: ",df["writing_score"].unique())

printing categories in the gender:  ['female' 'male']
printing categories in the race_ethnicity:  ['group B' 'group C' 'group A' 'group D' 'group E']
printing categories in the parental_level_of_education:  ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
printing categories in the lunch:  ['standard' 'free/reduced']
printing categories in the test_preparation_course:  ['none' 'completed']
printing categories in the math_score:  [ 72  69  90  47  76  71  88  40  64  38  58  65  78  50  18  46  54  66
  44  74  73  67  70  62  63  56  97  81  75  57  55  53  59  82  77  33
  52   0  79  39  45  60  61  41  49  30  80  42  27  43  68  85  98  87
  51  99  84  91  83  89  22 100  96  94  48  35  34  86  92  37  28  24
  26  95  36  29  32  93  19  23   8]
printing categories in the reading_score:  [ 72  90  95  57  78  83  43  64  60  54  52  81  53  75  89  32  42  58
  69  73  71  74  70  65  87  56  61  84  55  44  41  85  59  17  39  80
  37  63  51  49  26  68  45  47  86  34  79  66  67  91 100  76  77  82
  92  93  62  88  50  28  48  46  23  38  94  97  99  31  96  24  29  40]
printing categories in the writing_score:  [ 74  88  93  44  75  78  92  39  67  50  52  43  73  70  58  86  28  46
  61  63  53  80  72  55  65  38  82  79  83  59  57  54  68  66  62  76
  48  42  87  49  10  34  71  37  56  41  22  81  45  36  89  47  90 100
  64  98  51  40  84  69  33  60  85  91  77  27  94  95  19  35  32  96
  97  99  15  30  23]

In [11]:
# segrarating the numerical features and categorical features
numerical_features = [col for col in df.columns if df[col].dtype != "o"]
categorical_features = [col for col in df.columns if df[col].dtype == "o"]

In [12]:
# doing feature engineering
df["Total_score"] = df["math_score"] + df["reading_score"] + df["writing_score"]
df["average_score"] = df["Total_score"]/3

In [16]:
df.shape[0]

1000

In [17]:
# to know how many persons got 100 marks in each subject
maths_count = df[df["math_score"]==100].shape[0]
reading_count = df[df["reading_score"]==100].shape[0]
writing_count = df[df["writing_score"]==100].shape[0]
print("no.of people who got 100 in math: ",maths_count)
print("no.of people who got 100 in readung: ",reading_count)
print("no.of people who got 100 in writing: ",writing_count)

no.of people who got 100 in math:  7
no.of people who got 100 in readung:  17
no.of people who got 100 in writing:  14

In [18]:
# to know how many persons got less than or equal to 20 marks in each subject
maths_count_20 = df[df["math_score"]<=20].shape[0]
reading_count_20 = df[df["reading_score"]<=20].shape[0]
writing_count_20 = df[df["writing_score"]<=20].shape[0]
print("no.of people who got less or equal to 20 in math: ",maths_count_20)
print("no.of people who got less or equal to 20 in readung: ",reading_count_20)
print("no.of people who got less or equal to 20 in writing: ",writing_count_20)

no.of people who got less or equal to 20 in math:  4
no.of people who got less or equal to 20 in readung:  1
no.of people who got less or equal to 20 in writing:  3